.radio {
  display: flex;
  items-align: center;
  justify-content: center;
  cursor: pointer;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border-width: 2px;
  outline: none;
  position: relative;
}

.radio:checked:before {
  opacity: 1;
}

.radio:checked {
  border: none;
}

.radio:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--color-theme);
  border-radius: 100%;
  opacity: 0;
}
